@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  font-family: "Changa", sans-serif;
  background-color: #222;
  padding: 1.2rem;
  color: #ddd;
}

main {
  display: grid;
  justify-items: center;
}

h1 {
  max-width: 31.25rem;
  font-size: clamp(1.9rem, 6vw, 3rem);
  line-height: 1.1em;
  text-align: center;
  font-weight: 700;
  color: #f4538a;
}

.rules-button {
  margin: 2.5rem 0;
  padding: 0.3rem 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #ddd;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.8);
  border: 0;
  box-shadow: 0.3125rem 0.3125rem 0.25rem #000;
  border-radius: 0.3125rem;
  transition: color 0.2s, box-shadow 0.1s, transform 0.1s, background-color 0.2s;
}
.rules-button:hover {
  color: rgba(221, 221, 221, 0.6);
}
.rules-button:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 1px black;
  background-color: #333;
}
.rules-button:focus-visible {
  filter: drop-shadow(0px 0px 1px rgba(221, 221, 221, 0.6));
  outline: 0;
}

.game-container {
  --hand-signal-size: clamp(5rem, 14vw, 7rem);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.game-container .hand-signals,
.game-container .score {
  width: calc(var(--hand-signal-size) * 3);
}

.hand-signals {
  display: grid;
  grid-template: repeat(16, 1fr)/repeat(18, 1fr);
}
.hand-signals .wrapper {
  filter: drop-shadow(0.3125rem 0.3125rem 0.25rem #000);
  transition: filter 0.1s;
}
.hand-signals .wrapper:has(button:active) {
  filter: drop-shadow(1px 1px 1px #000);
}
.hand-signals .wrapper:has(button:focus-visible) {
  filter: drop-shadow(0 0 1px rgba(221, 221, 221, 0.6));
}
.hand-signals .wrapper button {
  -webkit-clip-path: polygon(29.29% 0, 70.71% 0, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0 70.71%, 0 29.29%);
          clip-path: polygon(29.29% 0, 70.71% 0, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0 70.71%, 0 29.29%);
  width: var(--hand-signal-size);
  height: var(--hand-signal-size);
  padding: 1.5rem;
  background-color: rgba(51, 51, 51, 0.8);
  border: 0;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.3s;
}
.hand-signals .wrapper button:hover svg {
  fill: #f9ea9f;
}
.hand-signals .wrapper button:active {
  background-color: rgba(51, 51, 51, 0.9);
  transform: scale(0.95);
}
.hand-signals .wrapper.rock {
  grid-area: 1/2/7/8;
}
.hand-signals .wrapper.paper {
  grid-area: 1/12/7/18;
}
.hand-signals .wrapper.scissors {
  grid-area: 6/7/12/13;
}
.hand-signals .wrapper.lizard {
  grid-area: 11/2/17/8;
}
.hand-signals .wrapper.spock {
  grid-area: 11/12/17/18;
}
.hand-signals svg {
  fill: #f5dd61;
  display: block;
}

.score {
  font-size: clamp(1rem, 2.6vw, 1.3rem);
  display: grid;
  align-content: space-evenly;
  row-gap: 1rem;
}
@media (max-width: 33.875rem) {
  .score {
    text-align: center;
    justify-content: center;
  }
  .score .user {
    margin-top: 1rem;
  }
  .score h3 {
    padding: 0 0.3rem 0.3rem;
  }
}
.score h3 {
  font-weight: 600;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

/* POP-UPS */
.pop-up {
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ddd;
  display: grid;
  place-items: center;
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}
.pop-up.reveal {
  opacity: 1;
  z-index: 10;
}

.rules {
  background-color: #222;
  border-radius: 0.625rem;
  padding: 0 1.5rem 1.5rem 3rem;
  display: grid;
}
.rules .x-mark-wrapper {
  grid-area: 1/2/2/3;
  place-self: center end;
}
.rules .x-mark {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.rules .x-mark svg {
  fill: #ddd;
  width: clamp(1.2rem, 2.5vw, 1.5rem);
  vertical-align: middle;
  transition: fill 0.2s;
}
.rules .x-mark:hover svg {
  fill: rgba(221, 221, 221, 0.4);
}
.rules .x-mark:active {
  transform: scale(0.95);
}

.rules {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.rules h2 {
  font-size: clamp(1.5rem, 3.1vw, 2rem);
  font-weight: 600;
  margin: 1.5rem 0;
}
.rules ul {
  grid-column: span 2;
  list-style-type: circle;
  list-style-position: outside;
  line-height: 1.7em;
}
.rules ul svg {
  width: clamp(1rem, 2vw, 1.25rem);
  height: auto;
  fill: #faa300;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */